.modal-content {
  background: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  .btn-close {
    margin-right: 0.015rem !important;
    background-color: var(--color-text);
  }
  :root {
    --bs-border-color: #3f3f45;
  }
}
