.multiselect__tags {
  min-height: calc(1.5em + 1rem + 2px);
  font-size: 1.15rem;
  border-radius: 0.5rem;
  padding-top: 7px;
  border-color: #ced4da;
  padding: 0.5rem 1rem;
  display: flex;
  line-height: 1.3;
  align-items: center;
}

.multiselect__select {
  height: 46px;
  top: 0px;
}

.multiselect__option {
  padding-left: 1rem;
  padding-right: 1rem;
}

.multiselect__placeholder {
  margin-bottom: 0;
  padding: 0;
}

.multiselect__input,
.multiselect__single {
  font-size: inherit;
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;
}

.multiselect__select {
  z-index: 1;
}

.multiselect--active .multiselect__tags,
.multiselect--active .multiselect__content-wrapper {
  border-color: #86b7fe;
}

@media (prefers-color-scheme: dark) {
  .multiselect__input,
  .multiselect__single {
    color: #e1e3e6;
  }
  .multiselect__input::placeholder {
    color: #e1e3e6;
  }
  .multiselect__tags {
    color: #e1e3e6;
    background: #454545 !important;
    border-color: #3f3f44;
  }
  .multiselect__content-wrapper {
    color: #e1e3e6;
    background: #454545 !important;
    border-color: #3f3f44;
  }
  .multiselect--active .multiselect__tags,
  .multiselect--active .multiselect__content-wrapper {
    border-color: #3f3f44;
  }
}
